/********** Template CSS **********/
:root {
    --primary: red;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


.dropdown-menu {
    border-radius: 1rem; /* Border radius */
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #DDDDDD;
}


/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}


/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 185, 142, .3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}


/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(245, 245, 245, 0.3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.presdek{

    padding: 15px;
    width: 50vh;
}

.presdek p{
    text-align: justify;
}
.nssbg{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height:50%;
}
#bg-nss{
    width: 92%;
    height: 10%;  
}

.nsspg{
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 1.5fr 0.2fr;
    margin-top: 30px;
}

#nss-rg{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1b547f;


}

#nss-rg-p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

#pbg{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
}

#pbg-1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 10px;
}

.imgpb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#visit{
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.lgpd{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#lgpdf{
    color: red;
    height: 90px;
    width: 90px;
}

#pbgid{
    text-align: center;
    
}

.bgg-ca{
    width: 85%;
    margin-top: 10px;

    
}

.bgg-ca img{
    width: 100%;
    height: 50vh;
    margin-left: 100px;
}

.gdcon{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    margin-top: 50px;
}

.card {
    width: 400px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 40px;
  }
  .card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;

  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }
  
  .card:hover img {
    filter: grayscale(1) brightness(0.4);
  }
  .card:hover::after {
    opacity: 1;
    inset: 20px;
  }
  
  .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .content h2,
  .content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
  }
  .content h2 {
    margin-bottom: 12px;
    scale: 0.7;
  }
  .content p {
    font-size: 14px;
    line-height: 1.5;
    color: #d1d1d1;
    transform: translateY(50%);
  }
  .card:hover .content h2 {
    scale: 1;
    opacity: 1;
  }
  .card:hover .content P {
    opacity: 1;
    transform: translateY(0);
  }

  .cc .content h2{
    color: #EFFDF5 !important;
  }

  #ccc{
    margin-top: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .endc #h{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 30px;
  }

  .gr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto 10%;
  }

  .bi{
    margin-top: 30px;
    color: red;
    width: 50px;
    height: 50px;
  }

  .leftgr h3#h33{
    font-family: sans-serif;
    font-size: 20px;
    color:darkslategrey;
    margin-top: 10px;
  }

  /*FLOATING BUTTONS*/
.open-button {
    background-color:  red;
    color: white;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 150px;
    border-radius: 5px;
  }
  
  /* FORM */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
 
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
 
  .form-container .btn {
    background-color: blueviolet;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 5px;
  }
  

  .form-container .cancel {
    background-color: green;
  }
  
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .open {
    background-color:  green;
    color: white;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 28px;
    width: 200px;
    border-radius: 5px;
  }

  #tm{
    font-family: sans-serif;
    font-size: 15px;
  }

.bgg-caa{
    width: 85%;
}
#bgg-caa-i{
    object-fit: cover;
width: 150vh;
height: 80vh;
margin-left: 80px;
margin-top: 30px;
}

#ddj{
    width: 400px;
    height: 370px;
}

#hhod{
text-align: center;
}

.dropdown-item{
    border-radius: 10px;
}

.img12{
    margin-left: 10%;
}

.pbg-n h6{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    display: inline-block;
}

.pbg-n h4{
  padding-top: 5%;
}

.main-tech h1{
    text-align: center;
    margin-top: 4%;
}

.coverpictech{
    padding-left: 10%;
}

.imgb{
    max-width: 100%;
    
}

.headingele{
    text-align: center;
    padding-top: 4%;
}

.allgrid{
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
}

.allgrid h5{
       padding-top: 13px;
       text-align: center;
}
.allgrid p{
    padding: 0 15px;
}

.rightgridele{
    display: flex;
    justify-content: space-around;
}

.rightgridele img{
    max-width: 40%;
    height: auto;
}
.webchat-container {
    padding-top: 600px; /* Adjust the padding to match the height of your navbar */
}

.head1 h1{
text-align: center;
padding-top: 5% ;
}
.img-cover-sh{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.shatru-m p{
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 10%;
}

.photo_sh{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo_sh img{
    width: 40%;
    height: 40%;
}

.img-cover-sh img{
    width: 80%;
    height: 80%;
    
} 

#video-container {
  width: 100%;
  max-width: 100vw; 
  height: auto; 
  text-align: center;
  padding: 3% 0;
  background-color: #ebedef;
}

#my-video {
  width: 25%; 
  height: auto; 
}

.elevid{
    width: 100%;
  max-width: 100vw; 
  height: auto; 
  text-align: center;
  padding: 3% 0;
  background-color: #ebedef;
}

#eleh5{
    padding: 2% 0;
    padding-bottom: -2%;
    text-align: center;
}

#elep{
    text-align: center;
    padding: 0 10%;
}

#ele-w{
    text-align: center;
    padding: 3% 0 1% 0;
}
